@model ProductImagesCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Product images</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" class="form-control" multiple accept="image/*">
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId">Products</label>
                <select class="form-control" asp-for="ProductId" asp-items='@new SelectList(ViewBag.Products,"Id","Name")'>
                    <option value="none" disabled selected>Select product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <button class="btn btn-success">Submit</button>
            <button asp-action="Index" class="btn btn-cancel">Cancel</button>
        </form>
    </div>
</div>