@model CategoryUpdateVM

@{
    ViewData["Title"] = "Update";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Update Category</h6>
    </div>
    <div class="card-body">
        <form asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if(Model.ParentCategory == null)
            {
            <div class="form-group">
                <label asp-for="ParentCategory">ParentCategory</label>
                <select class="form-control" asp-for="ParentCategory" asp-items='@new SelectList(ViewBag.Categories,"Id","Name")'>
                    <option value="" selected>Select parent category</option>
                </select>
                <span asp-validation-for="ParentCategory" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="ParentCategory">ParentCategory</label>
                    <select class="form-control" asp-for="ParentCategory" asp-items='@new SelectList(ViewBag.Categories,"Id","Name")'>
                        <option value="">Select parent category</option>
                    </select>
                    <span asp-validation-for="ParentCategory" class="text-danger"></span>
                </div>
            }
            <div class="form-check">
                <input asp-for="IsDeleted" class="form-check-input">
                <label asp-for="IsDeleted" class="form-check-label">IsDeleted</label>
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <br>
            <button class="btn btn-success">Submit</button>
            <button asp-action="Index" class="btn btn-cancel">Cancel</button>
        </form>
    </div>
</div>